@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html, #root{
  height: 100%;
}
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(38, 33, 33);
  background-image: url('../image/batman-1920x1080.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-blend-mode:multiply;
}
.App{
  width: 100%;
  height: auto;
}

.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: screen;
}

.cards__container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
  align-items:center;
  flex-wrap: wrap;
}

.error{
  color: white;
  font-family: "Jua",sans-serif;
  margin-top: 20px;
  font-size: 100px;
}

